nav{
    padding:5rem;
    font-weight: 600;
}

.btn-outline-success{
    color: white;
    border-color: black;
    background-color: black;
}

.menu-1{
    padding-bottom: 120px;
}

.menu-2{
    padding-bottom: 30px;
}

.menu-3{
    border: 1px solid black;
    padding-left: 90px;
}

.card-text{
    font-weight: 600;
}

.card-img-top{
    height: 420px;
 }

 footer{
     background-color: black;
     color: white;
 }
 

 .first-line{
     border-bottom: 1px solid #198754;
 }

.korea-2 {
    display: none;
}

.image-1{
    padding-left: 30px;
}

.about-1{
    padding-top:130px;
}

.introduce{
    margin-bottom: 50px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: #198754;
    text-decoration: none;
}

@media screen and (max-width: 48rem){
    nav{padding-left: 0;
    padding-right: 0;}
}

@media screen and (max-width: 48rem){
    .first-line{
        text-align: center;
    }
}

@media screen and (max-width: 48rem){
    .col{
        padding-bottom: 1.5rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 48rem){
.menu-2{
    padding-bottom: 0;
    }
}


@media screen and (max-width: 48rem){
    .menu-3{
        border:none;
        padding:0;
    }
}

@media screen and (max-width: 48rem){
    .second-line{
       border-bottom: 1px solid #198754;
       text-align: center;
    }
}


@media screen and (max-width: 48rem){
    .korea{
        display:none;
    }
}

@media screen and (max-width: 48rem){
    .korea-2{
        display:block;
        text-align: center;
    }
}